My page :)~cmd:PAUSE500,PAUSE500,PAUSE500,REMLINE
pre {
    height: 100%;
    margin: 0;
    position: relative;
    left: 0;
}
code {
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 20px;
    padding: 0.5em;
    border: 3px solid #888;
    background-color: #F0F0F0;
}
html, body {
    background-color: #333;
    overflow: hidden;
}
/* Let's enable highlighting */~cmd:HIGH,PAUSE500,REMLINE

@keyframes rot {
    to {
        transform: rotate(360deg);
    }
    from {
        transform: rotate(0deg);
    }
}
pre {
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-name: rot;~cmd:PAUSE500,PAUSE500,PAUSE500,PAUSE500,PAUSE500,PAUSE500,PAUSE500,PAUSE500,PAUSE500
    /* yay fun */
    transition: left 5s;
    /* bye-bye! */~cmd:PAUSE500,PAUSE500
    left: 200%;
}
